body {
  background-color: #EAF6F6;
}

hr {

border-style: none;
width: 5%;
border-top-style: dotted;
border-color: grey;
border-width: 5px;
}

h1 {
  color : #68A7AD;
}

h3 {
  color : #66BFBF;
}

/*********************************************CLASS SELECTORS ************************************************/

.color {
  background-color: #B7E5DD;
  width: 30%;

}




/********************************************ID SELECTORS ***************************************************/

#heading :hover {
  color: gold ;

}
